.App {
  text-align: center;
}

.compa{
  background-color: aqua;
  border: 10px solid black;
  padding:10px;
  text-align:center;
}

.compb{
  background-color: orange;
  border: 10px solid black;
  padding:10px;
  text-align:center;
  display: flex;
  flex-direction: column;
}

.compc{
  background-color: greenyellow;
  border: 10px solid black;
  padding:10px;
  text-align:center; 
}

.header{
  background-color: cyan;
  text-align: center;
  padding:10px;
}